

.subHeader{
    padding: 2rem 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:linear-gradient(135deg, #4aa7f3, #216fd4);
}
.subHeader > section{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 45%; max-width: 800px;min-width: 350px;
}
.subHeader > section p,h1{
    padding: .5rem ;
    max-width: 700px;
    color: #dcf0fd;
}
.buttons{
    flex-grow: 1;
    gap: 2rem;
    margin:.5rem auto;
    
}
.buttons a button{
    width: 100%;letter-spacing: 0.05em;

}
.buttons a > button{
width: 100%; max-width: 150px; 
height: 40px; margin: .5rem  .5rem;
border-radius: 8px;
border: none;
background-color: #dcf0fd;
cursor: pointer;
transition: all .3s ease-in-out;
box-shadow: 0px 2px 5px #215aac;
}
.buttons a > button:hover{
transform: scale(1.1);
}



.subHeader > img{
    flex-grow: 1;
    width: 45%;max-width: 800px; min-width: 350px;
    border-radius: 15px;
    padding: 0 .5rem;
}


/*Servicios*/

.servicios{
    padding: 2rem 0 4rem 0;
    margin: 2rem 0;
}
.servicios > h2{
    color: #204d88;
    margin: 2rem 0;
    text-align: center;
}
.tarjetas-planes{
    max-width: 95%; margin: auto;
    justify-content: space-evenly;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    
}

.tarjeta-individual{
    flex-grow: 1;
    width: 350px;
    padding: 1rem;
    text-align: center;
    border-left:80px solid #2984e7;
    border-radius: 10px;
    transform-origin: left;
    color:#183053;
    box-shadow: 0px 2px 5px #215aac;
    transition: all .3s ease-in-out;
}
.tarjeta-individual:hover{
    border-left:0px solid #2984e7;
    
}


.tarjeta-individual > svg {
    width: 100px; height: 100px; padding: .5rem;
    border-radius: 10px;
    
    background-color: #dcf0fd;
}
.tarjeta-individual > svg path{
    fill: #216fd4;
}

.tarjeta-individual > h3{
    margin: 1rem 0;
    
}
.tarjeta-individual > a{
    color:#2984e7;
}

.tarjeta-individual > p{
    margin:1rem  auto;
    text-align: left;
    max-width: 90%;
}


/*brindamos*/
.brindamos{
    text-align: center;
    padding: 2rem 1rem 4rem 1rem;
    background-color: #63bef7;
}
.brindamos > h4{
    padding:0 0 1rem 0;
    color: #eff9ff;
}
.brindamos-dentro{
    padding: .5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin: auto;
    width: 95%; max-width: 1750px;
}
.brindamos-dentro > div{
    flex-grow: 1;
    min-width: 300px; width: 30%;
    padding: 1rem;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #215aac;
    transition: all .3s ease-in-out;
    color: #204d88;
}
.brindamos-dentro > div:hover{
    background-color: #eff9ff;
    
}
.brindamos-dentro div > h5{
    padding: 1rem 0;
    color:#216fd4;
}


