*{
    margin: 0; padding: 0; box-sizing: border-box; font-display: Sans-serif;
}
:root{
    --fondoMenu:#4aa7f3;
    --Hover:#ffe556;
    --colorTexto:#;
    --colorTitulos:#;
    --sombras:#0000007f;
    --Blanco:#fefefe;
    --letra:'compita';

}


/*tamaños, letras y demas cosas esteticas*/
.menu{
    background-color: var(--Blanco);
    backdrop-filter: blur(10px);
    display: flex; justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 3px var(--sombras);
    width: 100%;
}
.menu a{
    transition: all .3s ease-in-out;
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
}
.menu a:hover{
    color:var(--fondoMenu)
}

.logo{
    width: 100px;
    text-align: center;
}
.logo > a{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: var(--fondoMenu);
}

/*empieza */

.ul-main{
    height: 59px;
    list-style: none;
    display: flex;
    width: 100%; max-width: 700px;
    justify-content: space-evenly;
    align-items: center;
}
.ul-main li{
    width: 100px;
    text-align: center;
}
.dropdown{
    position: relative;
}
.sublist{
    width: 200px;
    left: -50px;
    padding: 0 0px 0 50px;
    margin: 18px 0 0 0;
    background-color: var(--Blanco);
    position: absolute;
    list-style: none;
    display: none;
}
.sublist > li{
    transition: all .3s ease-in-out;
    margin: 1em 0 1em 0;
}
.hover{
    display: block;
}
.aparece{
    max-width:44px;
    transform: rotate(90deg);
    background-color: transparent;
    display: none;
    border: none;
    border-radius: 6px;
    color: var(--Blanco);
}


@media screen and (max-width:991px){
    .menu{
        justify-content: center; height: 59px;
      box-shadow: none;
    }
    .ul-main li{
         height: auto;
        display: block;
    }
    .ul-main{
        display: block;
        position: absolute;
        transform: scaley(0);
        top: 59px;
       transform-origin: top;
        min-width: 100%;
        height: auto;
       transition: all .3s ease-in-out;
       z-index: 0;
        padding: 1em;
        background-color: var(--fondoMenu);
    }
    .ul-main li{
       width: 100%; 
       padding: .5em 0 .5em 0;
       margin: 1em 0 1em 0;
       transition: all .3s ease-in-out;
    }
    
    .sublist{
        background-color: transparent;
        position: static;
        min-width: 100%;
        width: 200px;
    left: 0px;
    padding: 0 0px 0 0px;
    }
    .aparece{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px; height: 40px;
        display: block;
        cursor: pointer;
        color: #000000;
    }
    .seve{
        display: block;
        box-shadow: 0 2px 3px var(--sombras);
        top: 59px;
        transform: scaleY(1);
        background:var(--Blanco);
    }


}



/*footer*/
footer{margin: 20rem 0 0 0;
    background:#dde5e9;
    text-align: center;
    padding: 2rem 0;
    color: #000000;
}
footer > div{
   max-width: 90%;
   margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
   
}
footer div > ol{
    list-style: none;
    padding: 5px;
    min-height: 180px;  min-width: 250px;
   
    text-align: center;
    flex-grow: 1;
}
footer div > ol li{
    padding: .3rem 0;
}footer div > ol li a{
    color: #000000;
    transition: all .3s ease-in-out;
}
footer div > ol li a:hover{
    color:#204d88;
}
footer div > ol h5{
    color: #215aac;
}
footer > span{
    color: #eff9ff;
}