*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-display: Sans-serif;
}

:root {
    --color-lightest: #eff9ff; /* 50 */
    --color-lighter: #dcf0fd; /* 100 */
    --color-light: #c0e5fd; /* 200 */
    --color-mid: #95d6fb; /* 300 */
    --color-normal: #63bef7; /* 400 */
    --color-base: #4aa7f3; /* 500 */  /* Asterisk (*) is removed here */
    --color-dark: #2984e7; /* 600 */
    --color-darker: #216fd4; /* 700 */
    --color-darkest: #215aac; /* 800 */
    --color-black: #204d88; /* 900 */
    --color-almost-black: #183053; /* 950 */
  }
  


/*ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/
a{
    text-decoration: none;
    color: var(--color-normal);
    font-size: 1rem;
}


#tarjetasSection > h3{
    color:var(--celesteInvincible);
}
.tarjeta > h3{
    font-family: var(--Letra);
    font-size: 1em;
    color:var(--color-darker);
}
.tarjeta > p{
    font-size: 0.99rem;
    padding-left: 5px;
    color: var(--color-almost-black);
}
.tarjeta > a{
    font-family: var(--Letra);
    font-size: 1em;
}

.copy > a{
    font-family: "final";
}

/*FIN ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/@media screen and (max-width:991px){
   
    .tarjeta{
        max-width:318px;
    }
    .selectImg  > a {
        min-width: 95%; 
  
    }
    .container-planes{
        width: 85%;
    }
}




#tarjetasSection{
    padding: 1em 0 1em;
}
#tarjetasSection > h3{
    text-align: center;
    margin: 50px 0 100px 0;
    font-size: 1.5rem;
}

.tarjetas{
    width: 95%; 
    margin: auto;
    display:flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    text-align: center;
    width:420px; height: 200px;
    background-color:var(--color-light);
    border-radius: 16px; padding: 24px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.179);
    transform: translatey(0);
    transition: all .3s;
    display: flex;
    flex-wrap: wrap;
}
.tarjeta:hover{
    transform: translatey(-10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.282);
}
.img-svg{
    width: 50px; height: 50px;
    background-color:var(--color-lightest);
   border-radius: 10px;
   padding: 5px;
}
.tarjeta > h3{
    margin:auto;
    font-size: 1.3em;
}
.tarjeta > p{
    text-align: left;
    margin: 2em 0 1em 0;
    max-height: 167px;
    min-height: 167px;
    overflow: hidden;
}


/*PLANES*/
.planes{
    margin: 2em 0 1em 0;
    width: 100%;
}
.planes > h3{
    margin: auto;
    width: 95%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}
.container-planes{
padding: 2rem 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: auto;
   
    
}
.container-planes > div{
    display: flex;
    flex-wrap: wrap;
    width: 550px; 
    background-color: var(--blanco);
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.179);

}
.container-planes > div:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.517);
}

.container-planes > div h3{
    width: 100%;
    margin: 2rem 0 1rem 0;
    font-family: var(--Letra);
    color: var(--azulElectrico);
}
.container-planes > div span{
    width: 100%;
    font-family: var(--Letra);
    font-size: 3rem;
    font-weight: 600;
}

.container-planes > div ol{
    list-style: none;
    padding: 0 1rem 0 1rem;
    width: 95%;
    text-align: left;
}
.container-planes > div p::before{
    content: '\2713  ';
    color: rgb(255, 255, 255);
    margin: 0 10px 0 0;
    background-color: #01c38d; 
    padding: 0 0px 0 5px;
    border-radius: 5px;
   
}
.container-planes > div li{
    margin: 20px 0 30px 0;
}
.container-planes > div p{
    font-size: 1rem;
}
.container-planes > div a{
    width: 130px;
    margin: auto;
   
}
.container-planes > div button{
    border: none;
    cursor: pointer;
    width: 100%; max-width: 200px;
    border-radius: 17px;
    padding: 12px;
    font-family: var(--Letra);
    font-size: 1.3rem;
    color: var(--color-black);
    background-color: var(--color-mid);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    transition: all .3s;
}
.container-planes > div button:hover{
    transform: scale(1.01);
     box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.447);
}

.servicios{
    margin: 2em auto;
    text-align: center;
}

.servicios > h4{
    font-size: 1.8em ; 
    color:var(--color-darker);
}
.servicios > p{
width: 90%; max-width: 800px;
margin: 1.3em auto;
text-align: start;
color: var(--color-almost-black);
}






  
@media screen and (max-width:991px){
    .servicios > p{
        padding: 0 0 0 10px;
        margin: 1.3em auto;
        text-align: start;
        }
}

@media screen and (max-width:650px) {
    .tarjeta{
        width: 100%; max-width: 1000px;
    }
}