*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'logo';
    src: url("LETRAS/Sharpie_Complete-LOGO/Fonts/Variable/Sharpie-Variable.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("LETRAS/Poppins_Complete/Variable/Poppins-Variable.ttf");
}
@font-face {
    font-family: "final";
    src: url("LETRAS/Kalam_Complete/Fonts/Variable/Kalam-Variable.ttf");
}
:root{
    --wsp:#25d366;
    --verde:#01c38d;
    --verdeClaro:#01f482;
    --verdeLima:#77D970;
    --negro:#191e29;
    --azulMarino:#000080 ;
    --rojoIntenso:#D50000 ;
    --grisOscuro:#333333;
    --amarilloMostaza:#F5D033;
    --morado:#673AB7;
    --naranjaIntenso:#FF7F50;
    --azulElectrico:#03A9F4;
    --azulCeleste:#2196F3 ;
    --beigeCalido:#F9E79F ;
    --azulObscuro:#132d45;
    --debajoHeader: #adb8cc3a;
    --azulClaro:#2550f5;
    --contacto:#51c1f1;
    --azulMescla:#484e91;
    --grisClaro:#696e79;
    --grisObscuro:#232536;
    --blanco:#f5f5f5;
    --naranja:#f48901;
    --amarilloFuerte:#cee733;
    --Letra:"poppins";
    --Rojo:#ff0000;
    --amarilloInvincible:#ffe556;
    --celesteInvincible:#00bcf0;
    --negroInvincible:	#303539;
    --BlamcoInvincible: #e1ebed;
    --letrasNegro:#3e3e3e;
    --LetrasTexto:#8198aed1;
    --letrasTitulos:#1f4568;

}


/*ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/
a{
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--Letra);
    font-size: 1rem;
}
.Principal .texto > h2{
    color:var(--letrasTitulos);
    font-family: var(--Letra);
    font-size: 1.4rem;
    padding: 1rem 0 0 0;
}
.texto{
    color: var(--LetrasTexto);
    font-family: var(--Letra);
    font-size: 2rem;
}
#tarjetasSection > h3{
    color:var(--celesteInvincible);
}
.tarjeta > h3{
    font-family: var(--Letra);
    font-size: 1em;
    color:#4f4f58;
}
.tarjeta > p{
    font-family: var(--Letra);
    font-size: 0.99rem;
    padding-left: 5px;
    color: var(--letrasTitulos);
}
.tarjeta > a{
    font-family: var(--Letra);
    font-size: 1em;
}

.copy > a{
    font-family: "final";
}


/*FIN ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/

/*COMIENZO MENU-HEADER*/




@media screen and (max-width:991px){
   
    .tarjeta{
        max-width:318px;
    }
    .selectImg  > a {
        min-width: 95%; 
  
    }
    .container-planes{
        width: 85%;
    }
}
/*FIN MENU-HEADER*/


/*COMIENZO MAIN*/
.Principal{
    padding: 5em 0 2em 0;
    text-align: center;
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}


.texto{
    background-color: #ffffff;
    width: 95%; max-width: 550px;
    border-radius: 10px ;
    padding: 0 20px 0 20px;
}

.texto > p{
    padding: 10px 10px 1em 10px;
    text-align: left;
    font-size: 1.3rem;
    color: var(--grisClaro);
   
}
.texto p > span{
    color: var(--azulElectrico);
    transition: ease-in-out .3s;
}
#tarjetasSection{
    padding: 1em 0 1em;
}
#tarjetasSection > h3{
    text-align: center;
    margin: 20px 0 50px 0;
    font-size: 1.5rem;
    font-family: var(--Letra);
    color: var(--negroInvincible);
}

.tarjetas{
    width: 95%; max-width: 1200px;
    margin: auto;
    display:flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    text-align: center;
    width:358px; height: 440px;
    background-color:#ffffff;
    border-radius: 16px; padding: 24px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.179);
    transform: translatey(0);
    transition: all .3s;
}
.tarjeta:hover{
    transform: translatey(-10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.282);
}
.tarjeta > svg{
    width: 100px; height: 100px;
    object-fit: contain;
    margin: 0 0 1em 0;
    background-color:var(--BlamcoInvincible);
   border-radius: 10px;
   padding: 10px;
}
.tarjeta > svg path{
    fill: var(--azulMescla);
}
.tarjeta > h3{
    margin: 0 0 1em 0;
    font-size: 1.3em;
}
.tarjeta > p{
    text-align: left;
    margin: 0 0 1em 0;
    max-height: 167px;
    min-height: 167px;
    overflow: hidden;
}
.tarjeta > a{
    color: var(--azulElectrico);
}

/*seleccionPagina*/
.seleccionPagina{
    padding: 1rem 0 2rem 0;
    width: 100%; 
    background-color: var(--blanco);
    text-align: center;
}
.selectDentro > h3{
    margin: auto;
    width: 95%;
    font-family: var(--Letra);
    font-weight: 600;
    font-size: 2rem;
}
.selectImg{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.selectImg  > a {
    width: 50%; max-width: 550px;
    height: auto; 
    overflow: hidden;  
}
.selectImg  a > img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%; height: auto;
}


/*CARACTERISTICAS*/
#Ofrecemos{
    margin: 5em auto;
    width: 100%; 
}
#Ofrecemos > h3{
    font-family: var(--Letra);
    font-size: 1.3rem;
    margin: 1em auto;
    padding:1em 0 0 0;
    width: 78%;
   text-align: left;
   color: var(--celesteInvincible);
}
.container-ventajas{
    width: 80%;
    display: grid;
    margin: 1em auto;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1em;
}
.container-ventajas > p{
    font-family: var(--Letra);
    margin: 1em;
    font-size: 1.2em;
}
.container-ventajas p > svg{
  fill: var(--verde);
}


.texto2{
    border: solid;
    text-align: center;
}
.cardProyectos{
    border: solid red;
}
/*PLANES*/
.planes{
    width: 100%;
}
.planes > h3{
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--Letra);
    font-weight: 600;
}
.container-planes{
padding: 2rem 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: auto;
}
.container-planes > div{
    background-color: var(--blanco);
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.179);
}
.container-planes > div:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.517);
}

.container-planes > div h3{
    margin: 2rem 0 1rem 0;
    font-family: var(--Letra);
    font-size: 1.1rem;
}
.container-planes > div span{
    font-family: var(--Letra);
    font-size: 3rem;
    font-weight: 600;
}

.container-planes > div ol{
    list-style: none;
    padding: 0 1rem 0 1rem;
    width: 95%;
    margin: auto;
    text-align: left;
}
.container-planes > div li{
    margin: 20px 0 30px 0;
}
.container-planes > div p{
    font-family: var(--Letra);
    font-size: 1rem;
}
.container-planes > div button{
    border: none;
    cursor: pointer;
    width: 50%; max-width: 200px;
    border-radius: 28px;
    padding: 12px;
    font-family: var(--Letra);
    font-size: 1.3rem;
    color: var(--BlamcoInvincible);
    background-color: var(--azulObscuro);
    box-shadow: 0px 1px 8px rgba(117, 117, 117, 0.631);
}



/*CONTACT ME*/
#contacto{
   background-color: var(--debajoHeader);
}

#contacto > h3{
    padding: 1em 0 0 0;
    text-align: center;
    font-family: var(--Letra);
    color: var(--celesteInvincible);
    font-size: 2rem;
}
#contacto > div{
    margin: auto;
    width: 90%; max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0 5em 0;
}
#contacto div > button{
    border: none;
    border-radius: 10px;
    transition: ease .3s;
    cursor: pointer;
    width: 200px;height: 50px;
    background-color:#ffffff;
    backdrop-filter: blur(10px);
    margin: 1em auto;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.306);
    display: flex;
    justify-content: center;
    align-items: center;
}
#contacto div > button:hover{
    transform: scale(1.01);
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.447);
  
}
#contacto div button > a{
    color: var(--negro);
}
#contacto div button > svg{
    margin: 0 10px 0 0;
    width: 30px; height: auto;
    
}
#wsp{
    fill: var(--wsp); 
}
#mail{
    fill: var(--grisClaro); 
}
#telegram{
fill: var(--azulElectrico);
}
#insta{
    fill: #d22271b6;
}

/*TODO FOOTER*/
*{
    margin: 0; padding: 0; box-sizing: border-box;
}
/* Basic footer styling */
.footer {
    background-color: #57aad4;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    width: 90%; max-width: 1200px;
    margin: 0 auto;
   
    align-items: center;
  }
  
  /* Footer content styling */
  .footer-content {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .footer-logo {
    margin: 0 20px 20px 0;
  }
  
  .footer-logo img {
    max-width: 100px;
    height: auto;
  }
  
  .footer-navigation ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
   padding: .5em 0 .5em 0;
  }
  
  .footer-navigation li {
    position: relative;
    text-align: center;
    padding: 0 .5em 0 .5em;
  }
  .footer-navigation li::after{
    position: absolute;
    left: 0; 
    top: 100%;
    content: ' ';
    width: 100%; height: 1px;
    background-color: var(--amarilloInvincible);
    transition: all .3s ease-in-out;
    transform-origin: center;
    transform: scaleX(0);
  }
  .footer-navigation li:hover::after{
    transform: scaleX(1);
  }
  
  
  .footer-navigation a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
  .footer-navigation a:hover{
    color: var(--amarilloInvincible);
  }
  

  
  /* Footer copyright styling */
  .footer-copyright {
    width: 100%;
   text-align: center;
    margin-top: 10px;
  }
  .footer-copyright a{
    font-size: 16px;
    transition: all .3s ease-in-out;
  }
  .footer-copyright a:hover{
    
    color: var(--amarilloFuerte);
  }
  
  /* Responsive design for smaller screens */
 

  @media screen and (max-width: 800px) {
    .footer-container {
        max-width: 80%;
        flex-direction: column;
        align-items: flex-start;
      }
    
      .footer-navigation ul {
        margin: 1em auto;
       max-width: 200px;
       
      }
    
  }