*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --verde:#01c38d;
    --verdeClaro:#01f482;
    --negro:#191e29;
    --azulObscuro:#132d45;
    --debajoHeader: #adb8cc3a;
    --azulClaro:#2550f5;
    --azulMescla:#484e91;
    --grisClaro:#696e79;
    --grisObscuro:#232536;
    --blanco:#f5f5f5;
    --naranja:#f48901;
    --amarilloFuerte:#cee733;
    --Letra:"Poppins", sans-serif;
    --Rojo:#ff0000;
}


/*ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/
a{
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--Letra);
    font-size: 1.3rem;
}
.Logo  a{
    font-size: 2rem;
    letter-spacing: .2em;
}
.Principal > h2{
    color: var(--azulMescla);
    font-family: var(--Letra);
    font-size: 2.8rem;
}
.texto{
    color: var(--negro);
    font-family: var(--Letra);
    font-size: 2rem;
}
.Ofrecemos{
    font-family: var(--Letra);
    font-size: 1em;
}
/*FIN ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/

/*COMIENZO MENU-HEADER*/
header{
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--negro);
  border-bottom:2px solid var(--azulClaro) ;
}
.Logo{
    border: solid;
    margin: 0 1em 0 1em;
    border-radius:0 10px 0 10px ;
    transition: ease .5s;
    color: var(--blanco);
    padding: 3px;
}
.Logo:hover{
    border-radius:  10px 0 10px 0 ;
    color: var(--azulMescla);
    background-color: var(--azulMescla);
}
.container{
    min-width: 50%;
    display:flex;
}
.menu{
    display: grid;
    grid-template-columns: repeat(1,minmax(500px, 100%));
    grid-template-rows: repeat(1, 50px);
    width: 100%;
    align-items: center;
    padding: 0 1em 0 1em;
    
}
.olMenu{
    list-style: none;
    justify-content: flex-end;
}
.olMenu li > a{
    transition: ease-in-out .3s;
}
.olMenu li > a:hover{
    color:var(--verdeClaro);
}
.boton{
    display: none;
   width: 50px; height: 50px;
   position: absolute;
   right: .5em;
   top: .5em;
   fill: var(--verdeClaro);
}
.olMenu{
    display: flex;
    justify-content: space-around;
}

@media (max-width:700px){
    header{
        justify-content: flex-end;
    }
    .boton{
        display: block;
        cursor: pointer;
    }
    .container{
        height: 80px;
        position: relative; 
    }
    .menu{
        position: absolute;
        overflow: hidden;
        display: grid;
        height: 800px;
       background-color: transparent;
       display:none;
       
    }
    .olMenu{
        position: absolute;
        width: 100%;
        height: 700px;
        top: 6em;
        transform: translateX(35em);
        transition: transform ease-in-out .5s;
        display: grid;  
        grid-template-columns: 200px;
        grid-template-rows: repeat(auto-fill, 50px);
        row-gap: 2em;
        text-align: center;
        align-items: center;
        padding: 5em 0 10px 0;
        background-color: var(--negro);
        border-radius: 10px 0 0 10px; 
    }
    .activo{
        
        transform: translateX(0em);
        transition: transform ease-in-out .5s;
        display: grid;
    }
    .olMenu li > a{
        text-decoration: none;
    }
}
/*FIN MENU-HEADER*/

/*COMIENZO MAIN*/
.Principal{
    padding: 7em 0 2em 0;
    text-align: center;
    background-color: var(--debajoHeader);
}
.Principal > h2{
    margin: 1em 0 0 0;
    width: 100%;
    margin: auto;
}

.texto{
    width: 80%; max-width: 800px;
    margin: 2em auto;
    border-radius: 10px;
}

.texto > p{
    padding: 10px;
    text-align: left;
    font-size: 1.3rem;
   
}
.texto p > span{
    color: var(--azulMescla);
    transition: ease-in-out .3s;
}
.texto p > span:hover{
    color: var(--azulClaro);
}



/*CARACTERISTICAS*/
#Ofrecemos{
    margin: 5em auto;
    width: 100%;
}
#Ofrecemos > h3{
    margin: 1em auto;
    padding:1em 0 0 0;
    width: 78%;
   text-align: left;
}
.container-ventajas{
    width: 80%;
    display: grid;
    margin: 1em auto;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1em;
}
.container-ventajas > p{
    margin: 1em;
    font-size: 1.2em;
}
.container-ventajas p > svg{
  fill: var(--verde);
}

#contacto{
   background-position: center center;
   background-repeat: no-repeat;
   background-size: co;
   background: linear-gradient(to top, var(--azulObscuro) 10%, #edecec 80%);
}

#contacto > h3{
    padding: 1em 0 0 0;
    text-align: center;
    font-family: var(--Letra);
    color: var(--azulMescla);
    font-size: 1.5em;
}
#contacto > div{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em 0 5em 0;
}
#contacto div > button{
    border-radius: 10px;
    transition: ease .3s;
    cursor: pointer;
    width: 200px;height: 50px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    margin: 1em auto;
    box-shadow: 0 5px 5px rgb(0, 0, 0);
}
#contacto div > button:hover{
    transform: scale(1.01);
    box-shadow: 5px 7px 5px rgb(0, 0, 0);
    background: linear-gradient(to right, var(--verde) 0%, var(--verdeClaro) 50%);
}



footer{
    margin:0 auto;
    background-color: var(--azulObscuro);
    height: 200px;
}
.footer{
    width: 90%;
    margin: auto;
    text-align: center;
   
}
