*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'logo';
    src: url("../LETRAS/Sharpie_Complete-LOGO/Fonts/Variable/Sharpie-Variable.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("../LETRAS/Poppins_Complete/Variable/Poppins-Variable.ttf");
}
@font-face {
    font-family: "final";
    src: url("../LETRAS/Kalam_Complete/Fonts/Variable/Kalam-Variable.ttf");
}
:root{
    --wsp:#25d366;
    --verde:#01c38d;
    --verdeClaro:#01f482;
    --verdeLima:#77D970;
    --negro:#191e29;
    --azulMarino:#000080 ;
    --rojoIntenso:#D50000 ;
    --grisOscuro:#333333;
    --amarilloMostaza:#F5D033;
    --morado:#673AB7;
    --naranjaIntenso:#FF7F50;
    --azulElectrico:#03A9F4;
    --azulCeleste:#2196F3 ;
    --beigeCalido:#F9E79F ;
    --azulObscuro:#132d45;
    --debajoHeader: #adb8cc3a;
    --azulClaro:#2550f5;
    --contacto:#51c1f1;
    --azulMescla:#484e91;
    --grisClaro:#696e79;
    --grisObscuro:#232536;
    --blanco:#f5f5f5;
    --naranja:#f48901;
    --amarilloFuerte:#cee733;
    --Letra:"poppins";
    --Rojo:#ff0000;
    --amarilloInvincible:#ffe556;
    --celesteInvincible:#00bcf0;
    --negroInvincible:	#303539;
    --BlamcoInvincible: #e1ebed;
    --letrasNegro:#3e3e3e;
    --LetrasTexto:#8198ae;
    --letrasTitulos:#1f4568;

}


/*ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/
a{
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--Letra);
    font-size: 1rem;
}
.Principal .texto > h2{
    color: var(--azulObscuro);
    font-family: var(--Letra);
    font-size: 2rem;
    padding: 1rem 0 0 0;
}
.texto{
    color: var(--LetrasTexto);
    font-family: var(--Letra);
    font-size: 2rem;
}
#tarjetasSection > h3{
    color:var(--celesteInvincible);
}
.tarjeta > h3{
    font-family: var(--Letra);
    font-size: 1em;
    color:#4f4f58;
}
.tarjeta > p{
    font-family: var(--Letra);
    font-size: 0.99rem;
    padding-left: 5px;
    color: var(--letrasNegro);
}
.tarjeta > a{
    font-family: var(--Letra);
    font-size: 1em;
}

.copy > a{
    font-family: "final";
}

/*FIN ESTILOS DE LETRAS, TAMANIOS Y DEMAS DETALLES*/@media screen and (max-width:991px){
   
    .tarjeta{
        max-width:318px;
    }
    .selectImg  > a {
        min-width: 95%; 
  
    }
    .container-planes{
        width: 85%;
    }
}
/*FIN MENU-HEADER*/

/*COMIENZO MAIN*/
.Principal{
    height: 50px;
   padding: 0 0 80px 0;
}



#tarjetasSection{
    padding: 1em 0 1em;
}
#tarjetasSection > h3{
    text-align: center;
    margin: 50px 0 100px 0;
    font-size: 1.5rem;
    font-family: var(--Letra);
}

.tarjetas{
    width: 95%; 
    margin: auto;
    display:flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta{
    text-align: center;
    width:400px; height: 200px;
    background-color:#ffffff;
    border-radius: 16px; padding: 24px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.179);
    transform: translatey(0);
    transition: all .3s;
    display: flex;
    flex-wrap: wrap;
}
.tarjeta:hover{
    transform: translatey(-10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.282);
}
.img-svg{
   
    width: 50px; height: 50px;
    background-color:var(--BlamcoInvincible);
   border-radius: 10px;
   padding: 5px;
   fill:  var(--azulElectrico);
}
.tarjeta > h3{
   
    margin:auto;
    font-size: 1.3em;
}
.tarjeta > p{
    text-align: left;
    margin: 2em 0 1em 0;
    max-height: 167px;
    min-height: 167px;
    overflow: hidden;
}
.tarjeta > a{
    color: var(--naranja);
}

/*PLANES*/
.planes{
    margin: 2em 0 1em 0;
    width: 100%;
}
.planes > h3{
    margin: auto;
    width: 95%;
    text-align: center;
    font-size: 1.8rem;
    font-family: var(--Letra);
    font-weight: 600;
}
.container-planes{
padding: 2rem 0 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: auto;
   
    
}
.container-planes > div{
    display: flex;
    flex-wrap: wrap;
    width: 550px; 
    background-color: var(--blanco);
    padding: 2rem 1rem 3rem 1rem;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.179);

}
.container-planes > div:hover{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.517);
}

.container-planes > div h3{
    width: 100%;
    margin: 2rem 0 1rem 0;
    font-family: var(--Letra);
    color: var(--azulElectrico);
}
.container-planes > div span{
    width: 100%;
    font-family: var(--Letra);
    font-size: 3rem;
    font-weight: 600;
}

.container-planes > div ol{
    list-style: none;
    padding: 0 1rem 0 1rem;
    width: 95%;
    text-align: left;
}
.container-planes > div p::before{
    content: '\2713  ';
    color: rgb(255, 255, 255);
    margin: 0 10px 0 0;
    background-color: #01c38d; 
    padding: 0 0px 0 5px;
    border-radius: 5px;
   
}
.container-planes > div li{
    margin: 20px 0 30px 0;
}
.container-planes > div p{
    font-family: var(--Letra);
    font-size: 1rem;
}
.container-planes > div a{
    width: 130px;
    margin: auto;
   
}
.container-planes > div button{
    border: none;
    cursor: pointer;
    width: 100%; max-width: 200px;
    border-radius: 17px;
    padding: 12px;
    font-family: var(--Letra);
    font-size: 1.3rem;
    color: var(--BlamcoInvincible);
    background-color: var(--verde);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.41);
    transition: all .3s;
}
.container-planes > div button:hover{
    transform: scale(1.01);
     box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.447);
}

.servicios{
    margin: 2em auto;
    text-align: center;
    font-family: var(--Letra);
}

.servicios > h4{
    font-size: 1.8em ; 
}
.servicios > p{
width: 90%; max-width: 800px;
margin: 1.3em auto;
text-align: start;
}






/*CONTACT ME*/
#contacto{
    background-color: var(--debajoHeader);
 }
 
 #contacto > h3{
     padding: 1em 0 0 0;
     text-align: center;
     font-family: var(--Letra);
     color: var(--celesteInvincible);
     font-size: 2rem;
 }
 #contacto > div{
     margin: auto;
     width: 90%; max-width: 900px;
   display: flex;
   flex-wrap: wrap;
   padding: 1em 0 5em 0;
 }
 #contacto div > button{
     border: none;
     border-radius: 10px;
     transition: ease .3s;
     cursor: pointer;
     width: 200px;height: 50px;
     background-color:#ffffff;
     backdrop-filter: blur(10px);
     margin: 1em auto;
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.306);
     display: flex;
     justify-content: center;
     align-items: center;
 }
 #contacto div > button:hover{
     transform: scale(1.01);
     box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.447);
   
 }
 #contacto div button > a{
     color: var(--negro);
 }
 #contacto div button > svg{
     margin: 0 10px 0 0;
     width: 30px; height: auto;
     
 }
 #wsp{
     fill: var(--wsp); 
 }
 #mail{
     fill: var(--grisClaro); 
 }
 #telegram{
 fill: var(--azulElectrico);
 }
 #insta{
     fill: #d22271b6;
 }
 
 /*TODO FOOTER*/
 footer{
     margin: auto;
     background-color: var(--negroInvincible);
 }
 .containerFooter{
     padding: 100px 0 0 0;
     margin:auto;
     width: 90%;
     display: grid;
     grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
     gap: 15px;
 }
 .containerFooter > ol{
     margin:10px auto;
    text-align: left;
     list-style: none;
 }
 
 .containerFooter ol > li{
     transform-origin: center;
     transition: transform ease-in-out .3s;
     padding: 10px 0 10px 0;
 }
 .containerFooter ol > li:hover{
     transform: scale(1.1);
     transform-origin: center;
 }
 #titulito{
     transform:none;
 }
 #titulito > span{
     font-family: 'logo';
     font-size: 1.5rem;
    text-align: left;
     color: var(--amarilloInvincible);
 }
 .containerFooter ol li > a{
     font-family: "final";
 }
 .containerFooter ol li > a:hover{
     color: var(--amarilloInvincible);
     transition: ease-in-out .3s;
 }
 .copy{
     text-align: center;
     margin: 50px 0 0px 0;
     padding: 0 0 20px 0;
 }
 .copy a{
     transition: ease .2s; 
 }
 .copy a:hover{
     color:var(--celesteInvincible);
     transition: ease .2s;
 }

@media screen and (max-width:991px){
    .servicios > p{
        padding: 0 0 0 10px;
        margin: 1.3em auto;
        text-align: start;
        }
}