*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --fondo: #007bff;
  --letras:#fffefe;
  --letrasGris:#848383;
  --bordes:#ccc;
}
h1{
    text-align: center;
    margin: 1rem auto;
}
#travelForm {
    display: flex;
    flex-direction: column;
    width: 95%; max-width: 750px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--bordes) ;
    border-radius: 10px;
  }

  #travelForm label {
    padding: .5rem 0;
    color: var(--letrasGris);
  }

  #travelForm select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--bordes) ;
    box-sizing: border-box;
  }
  #travelForm select, option, label,input,button{
    font-size: 1.1rem;
  }

  #travelForm input{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--bordes) ;
    box-sizing: border-box;
  }

  #travelForm button {
    margin: 1rem 0;
    padding: 1rem 0;
    background-color:var(--fondo);
    color:var(--letras);
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  #travelForm button:hover{
    box-shadow: 0 2px 5px var(--bordes);
  }
