*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

.pokedex{
    background-color: red;
    height:500px;
    width: 800px;
    margin:10rem  auto 0;
    padding: 3rem  0;
    display: flex;
    justify-content: space-around;
    border-radius: 20px 20px 0 0;
}

.pantalla, .informacion{
    width: 40%;
    height: 100%;
}
.pantalla{
    border: 10px solid #b0b0b0;
    background-color: #fbfbfb;
}
.pantalla > img{ 
    width: 100%;height: 100%;
    object-fit: contain;
    background-color: rgba(63, 239, 9, 0.355);
    transition: all .3s ease-in-out;
}
.informacion{
    background-color: #525252;
    border-radius: 20px;
}
.infoText{
    background-color: rgba(63, 239, 9, 0.355);
    width: 100%;
    height: 100%;
    display: felx;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    border-radius: 20px;
}
.infoText > p{
    margin: 2rem 0;
    color: rgb(0, 255, 42);
}

form{
    margin: auto;
    padding: 1rem 0;
    width: 800px; height: 80px;
    background-color: rgb(210, 210, 210);
    text-align: center;
    position: relative;
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 0  0 20px 20px;
}


form > label, input, button{
height: 50px;
padding: 0 1rem;
border: none;
border-radius: 10px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.388);
font-size: 1.5rem;
outline: none;
cursor: pointer;
}